.loginWindow{
  background-color: #83b0ca;
  display: flex;
}

.loginCard{
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  
}
.heading {
  text-align: center;
}

.MuiButton-label-79  {
  text-transform: initial;
}
 
 .GoButton {
   height: 30px;
   font-size: 12px;
   
 }
 .FbButton {
  height: 30px;
  font-size: 12px;
}
.registerTypo{
  text-align: center;
}

#errorMessage {
  color: red;
  text-align: center;
  font-size: small;
}


@media only screen and (min-width: 376px)  {
  .loginCard{
    width: 400px;
  }
} 

@media only screen and (max-width: 375px)  {
  .loginCard{
    min-width: 100%;
  }
} 